/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.portfolio-item:hover .front {
	
	
	-webkit-transform:rotatey(180deg);
	transition:1.5s;
}

.portfolio-item:hover .back {
	/*margin: 10px;*/
	-webkit-transform:rotatey(0deg);
	transition:1.5s;
}

.front, .back {
	background: #CCC;
	border-radius: 10px;
	
}

.front {
	/*top: 200px;*/
	/*overflow: hidden;
	width: 200px;
	height: 200px;*/
	-webkit-backface-visibility: hidden;
	position: absolute;
}

.back {
	/*padding: 20px;
	width: 160px;
	height: 160px;*/
	-webkit-backface-visibility: hidden;
	-webkit-transform:rotatey(180deg);

}